<%= form_for @url do |f| %>
  
  <fieldset>

    <div class="field">
      <%= f.label :link %><br>
      <%= f.url_field :link %>
    </div>

    <div class="field">
      <%= f.label :hash_code %><br>
      <%= f.text_field :hash_code %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="actions">
      <a href="#destination"> TEST</a>
    </div>

  </fieldset>
  
<% end %>
